server {
  listen 443 ssl default_server;
  listen [::]:443 ssl default_server;
  server_name {{ nginx_default_servername }};

  include {{ nginx_locations_path }}/*.conf;

  access_log  /var/log/nginx/{{ nginx_default_servername }}.access.log;
  error_log   /var/log/nginx/{{ nginx_default_servername }}.error.log;

  ssl_certificate /etc/ssl/letsencrypt/certs/{{ nginx_default_servername }}/fullchain.pem;
  ssl_certificate_key /etc/ssl/letsencrypt/certs/{{ nginx_default_servername }}/privkey.pem;
}
